
#slideshow {
	display: flex;
	align-items: center;
	list-style-type: none;
    position:relative;
    height:500px;
}
#chevronRight{
	display: flex;
	/*align-items: left;*/
	list-style-type: none;
    position:relative;
    height:500px;
}
#chevronLeft{
	display: flex;
	/*align-items: right;*/
	list-style-type: none;
    position:relative;
    height:500px;
}

#slideshow img {
    display: none;
}

#slideshow img.active {
    display: block;
}

